@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: #e7d8e9;
    font-family: 'Josefin Sans', sans-serif;
}



    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
        width: 95%;
    }


h1{

    font-size: 43px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   



.box-wrapper{
    display: flex;
    flex-flow: row wrap;
}
.box{
    flex: 1;
    margin:10px;
    min-width: 300px;
    background: white;
    box-shadow: 3px 2px 1px rgba(0,0,0,.2);
}

.box-content{
    padding: 1.5rem;
    font-size: 0.9rem;
}

.box h3{
    margin:0;
    font-size: 1.2rem;
    padding-bottom:20px;
}

img{
    max-width: 100%;
}

h2{
    font-size: 3rem;
    font-weight: 300;
}